# IntelliJ project files
../.idea
*.iml
out/
gen
.idea/

# PyCharm
__pycache__

# macOS
**/.DS_Store

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv

# Environmental variables
.env

# Discovered Models
frontend/src/declare_model.png

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*